* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
}

header {
    background-color: #020617;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 60px;
}

nav {
    background-color: #1e293b;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.menu a:hover {
    background-color: #2563eb;
    border-radius: 5px;
}

header {
    background-color: #020617;
    padding: 20px;
    text-align: center;
}


main {
    padding: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.formulario {
    background-color: #1e293b;
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    margin: auto;
}

.formulario label {
    display: block;
    margin-top: 15px;
}

.formulario input,
.formulario select,
.formulario textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

textarea {
    height: 100px;
}

.opciones {
    margin-top: 10px;
}

.opciones input {
    width: auto;
    margin-right: 5px;
}

.btn-enviar {
    background-color: #2563eb;
    color: white;
    padding: 10px 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-enviar:hover {
    background-color: #1d4ed8;
}

.mapa {
    margin-top: 40px;
    text-align: center;
}

iframe {
    width: 100%;
    max-width: 800px;
    height: 350px;
    border-radius: 12px;
}

footer {
    background-color: #020617;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}