
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
}


header {
    background-color: #020617;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 60px;
}


nav {
    background-color: #1e293b;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.menu a:hover {
    background-color: #2563eb;
    border-radius: 5px;
}

main {
    flex: 1;
    display: flex;
    gap: 10px;
    padding: 20px;
}


section {
    flex: 3;
    margin-right: 20px;
}

.campeon {
    background-color: #1e293b;
    padding: 20px;
    width: 260px;
    text-align: center;
    border-radius: 12px;
}

.btn {
    display: inline-block;
    background-color: #2563eb;
    color: white;
    padding: 8px 12px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
}


aside {
    flex: 1;
    background-color: #020617;
    padding: 15px;
}


footer {
    background-color: #020617;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

.contenedor-campeones {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.img-campeon {
    width: 200px;
    margin: 15px auto;
    display: block;
}

.enlaces {
    background-color: #020617;
    padding: 25px;
    text-align: center;
}

.enlaces ul {
    list-style: none;
    margin-top: 10px;
}

.enlaces li {
    margin: 8px 0;
}

.enlaces a {
    color: #60a5fa;
    text-decoration: none;
}

.enlaces a:hover {
    text-decoration: underline;
}
